@charset "utf-8";
.container {
  margin: auto;
  max-width: 1024px;
}
.base-flex > div {
  display: flex;
  width: 100%;
}
.base-flex > div > div {
  flex: 1;
  max-width: 150px
}
.base-flex > div > div:nth-child(2) {
  flex: 3;
  max-width: 400px;
}
.base-flex > div > * {
  padding: 15px;
}
.record-info {
  background: #ffffff9F;
  margin-bottom: 8px;
  border-radius: 15px;
}

#m-select {
 font-size: 12px; /*文字大小*/
 color: rgb(144,147,129); /*文字顏色*/
 background-color:rgb(210,203,189) ; /*選單背景顏色*/
}

input[type="button"]{
	
	padding:5px 15px; 
	background:rgb(144,147,129); 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	
	position:relative;
	top:80%;
 	left:90%;
}

input[type="submit"]{
	
	padding:5px 15px; 
	background:rgb(144,147,129); 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	position:relative;
}

