@charset "utf-8";
/* CSS Document */

.native-bar {
	margin: auto;
	max-width: 1024px;
}
.native-content {
	padding-top: 20px;
	width:100%;
	display: flex;
	flex-wrap: wrap;
	gap:20px 20px;
}
.reg-bg {
	
	position:relative;
	top:20%;
    left:38%;
	display: flex;
	color: #000;
	width: 600px;
	padding: 15px;
	background: #ffffff9F;
	border-radius:30px;
	
}
.reg{
	
	display: flex;
    justify-content: center; 
    align-items: center;
	margin:0 auto;
}
.reglist {
	margin: auto;
}

input[type="text"]{
	padding:5px 15px; 
	border-width:10px;
	border-color:rgb(144,147,129);
	cursor:pointer; /*改變鼠標*/
	-webkit-border-radius: 10px;
	border:15px; 
}

input[type="password"]{
	padding:5px 15px; 
	border-width:10px;
	border-color:rgb(144,147,129);
	cursor:pointer; /*改變鼠標*/
	-webkit-border-radius: 10px;
	border:15px; 
}

input[type="submit"]{
	padding:5px 15px; 
	background:rgb(144,147,129); 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	position:relative;
	top:8px;
 	left:300px;
}

input[type="reset"]{
	padding:5px 15px; 
	background:rgb(144,147,129); 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 15px;
	position:relative;
	top:8px;
 	left:300px;
	
	
}




