@charset "utf-8";

 body{ 
	
	margin: 0;
	padding: 0;
	list-style: none;
 }

 .menu {
     height: 40px;
     width: 100%;
     background-color: rgb(245,231,223);
     float: inline-start;
 }

 .content {
     
	 height: 100vh;
     background-image: url("../image/home.jpg");
	 opacity: 0.7;
	 /*image-rendering: -webkit-optimize-contrast;*/
	 background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;	 
 }

ul { /* 取消ul預設的內縮及樣式 */
        margin: 0;
        padding: 0;
        list-style: none;
    }

   ul.drop-down-menu {
        border: #ccc 1px solid;
        display: inline-block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
		float: right;
    }

    ul.drop-down-menu li {
        position: relative;
        white-space: nowrap;
        border-right: #ccc 1px solid;
    }

    ul.drop-down-menu > li:last-child {
        border-right: none;
    }

    ul.drop-down-menu > li {
        float: left; /* 只有第一層是靠左對齊*/
    }

     ul.drop-down-menu a {
        background-color: rgb(245,231,223);
        color: #333;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;

    }
    ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
        background-color: rgb(227,186,161);
        color: rgb(245,231,223);
    }
    ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
        background-color: rgb(227,186,161);
        color: rgb(245,231,223);
    }
	
	ul.drop-down-menu ul {
        border: #ccc 1px solid;
        position: absolute;
        z-index: 99;
        left: -1px;
        top: 100%;
        min-width: 180px;
    }

    ul.drop-down-menu ul li {
        border-bottom: #ccc 1px solid;
    }






